* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

:root {
    --azulEsc: #003D73;
    --azulBtn: #1B77C2;
    --branco: #FFFFFF;
    --bordaInput: #8a9daa34;
    --textoClaro: #787b81;
}

main {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--azulEsc);
    background-image: url(../img/Desenvolvedor.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 200%;
    background-size: 45%;
}

aside {
    height: 100vh;
    width: 50%;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside #logo-alt {
    display: none;
}

#logo {
    width: 273px;
    height: 164px;
    margin-top: 70px;
}

form {
    display: flex;
    flex-direction: column; 
}

.label_form {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

input[type=email], input[type=password] {
    width: 300px;
    height: 38px;
    border-color: var(--bordaInput);
    padding-left: 20px;
    color: var(--textoClaro);
    margin: 10px 0;
}

form button {
    color: var(--branco);
    background-color: var(--azulBtn);
    width: 300px;
    height: 38px;
    border: none;
    margin-bottom: 20px;
}

.dev_b {
    width: 380px;
    height: 32px;
}

.txt_claro {
    color: var(--textoClaro);
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #003D73;
    font-weight: 600;
}

.esq_senha {
    display: flex;
    justify-content: right;
}

.esq_senha span{
    margin-right: 7px;
}

.checkbox {
    padding-bottom: 20px;
    display: flex;
}

.pass {
    position: relative;
}

.olho {
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;
    width: 18px;
}



/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
    aside {
        width: 100%;
        background-image: url(../img/Fundo\ dash.png);
        background-repeat: no-repeat;
        background-size: 100% 70%;
    }

    aside #logo-alt {
        display: flex;
        width: 35vw;
        margin-top: 40%;
    }

    aside #logo {
        display: none;
    }

    input[type=email], input[type=password], form button {
        width: 230px;
        height: 38px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .label_form {
        font-size: 15px;
    }

    .dev_b {
        width: 200px;
        height: 18px;
        margin-bottom: 5px;
    }

    .esq_senha {
        font-size: 12px;
    }

    .txt_claro {
        font-size: 12px;
    }

    .olho {
        top: 24px;
        width: 13px;
    }
    
}


@media screen and (max-width: 600px){
    aside #logo-alt {
        width: 35vw;
        margin-top: 50%;
    }

    input[type=email], input[type=password], form button {
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    aside #logo-alt {
        width: 35vw;
        margin-top: 60%;
    }
}